<% if notice %>
    <p id = "notice"><%=  notice %></p>
<% end %>


<div id="main">
  <% @products.each do |product| %>
      <div class ="entry">
        <b><%= product.title %></b><br />
        <%= image_tag(product.image_url) %> <br />
        <%=number_to_currency (product.buy_price) %><%= button_to 'Trade for Credit', line_items_path(product_id: product) %>


      </div>
  <% end %>


</div>

<div id="columns">
  <div id="side">
    <div id="cart">
      <%= render @cart %>
    </div>

  </div>
</div>




