<% if notice %>
    <p id = "notice"><%=  notice %></p>
<% end %>


<div id="main">


  <% @products.each do |product| %>
      <div class ="entry">
        <b><%= product.title %></b><br />
        <%= image_tag(product.image_url) %> <br />
        Rating:<%= product.rating %>
        <%=number_to_currency (product.price) %><%= button_to 'Add to Cart', line_items_path(product_id: product),
                                                remote: true %>

      </div>
  <% end %>


</div>

<div id="columns">
  <div id="side">
    <div id="cart">
      <%= render @cart %>
    </div>

  </div>
</div>

